<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center"
>
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img
      src="~/../assets/img/maharishi-vidya-mandir-.png"
      alt="logo"
      style="width: 40px"
    />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Maharishi Vidya Mandir</a>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="container mt-4 bg-white text-center border">
        <img
          class="img-thumbnail mx-auto rounded-circle"
          src="~/../assets/img/maharishi-vidya-mandir-.png"
          alt=""
        />
        <h5 class="text-black">Maharishi Vidyamandir</h5>
      </div>
      <div class="container border mt-3">
        <p class="text-left">
          Maharishi Vidya Mandir® Schools (MVMs) is leading amongst best public
          schools in India like all other Maharishi Institutions is established
          to introduce Maharishiji's Consciousness Based Education System in
          mainstream school education to its students. This system (MCBE) has
          been tried, implemented successfully and is repeatedly verified by
          over 700 scientific research studies conducted in 215 universities and
          independent research institutions of 35 countries. These studies have
          been published in 6 volumes and have documented the remarkable
          benefits of Consciousness Based Education e.g. greater use of
          intelligence, superior brain wave functioning, faster learning
          ability, faster reaction time, coherent thought process, longer
          retention of knowledge, improved health and reversal of aging.
        </p>
      </div>
    </div>
    <div class="col-md-9">
      <app-filter-box></app-filter-box>
    </div>
  </div>
</div>
